<%= form_with model: cart_item, url: cart_cart_items_path do |f| %>

    <% if cart_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cart_item.errors.count, "error") %> prohibited this cart item from being saved:</h2>

      <ul>
        <% cart_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
        <%= f.label :product_id%>
        <%= f.collection_select :product_id, Product.all, :id, :name %>
    </div>

    <div class="field">
        <%= f.label :quantity %>
        <%= f.number_field :quantity %>
    </div>

    <div>
    <%= f.submit %>
    </div>
    
<% end %>

