<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th> Product List </th>
      <th colspan="3"> </th>
    </tr>
  </thead>


<tbody>
<div id="products">
  <% @products.each do |product| %>
    <tr>
      <td> <%= product.title %> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>
</tbody>
</table>
<br>

<%= link_to "New product", new_product_path %>
