<p style="color: green"><%= notice %></p>

<h1>Product Inventory</h1>

<div class="container-fluid row">

  <% @products.each do |product| %>
    <div class="col-sm">
      <div class="card bcart bcart-2 bcart-success p-1 mt-3" style="width: 18rem;">
          <div class="card-header text-center">
          <h3 class="mb-0">
            <%= product.name %>
          </h3>
          </div>

        
        <div class="card-body text-center">
        Price = $<%= product.price %>
        <br>
        Amount = <%= product.amount %>
        <br>
       <%= image_tag url_for(product.avatar), width: 150, height: 150  if product.avatar.attached? %>
        <br>

        </div>

        <div class="card-footer d-flex justify-content-between">
          <%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary" %> 
          <%= button_to "Delete", product, method: :delete, data: { turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<br>

<p>
<%=  link_to "New product", new_product_path, class: "btn btn-primary" %>
</p>


<br>

<tfoot> 
    <tr>
        <td colspan="1">All rights reserved.</td>
    </tr>
</tfoot>