<!DOCTYPE html>
<html>
  <head>
    <title>Canteen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <div class="jumbotron jumbotron-fluid application banner-background">
  <div class="container">
  
  </div>
  </div>

  <nav class="navbar navbar-expand-sm bg-light">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Product List", products_path %> 
      </li>
      |
      <li class="nav-item">

      <%= link_to "Shopping Cart", carts_path %> 

      </li>
      |
      <li class="nav-item">

      <%= link_to "New Item", new_cart_path %> 
     
      </li>
    </ul>
  </div>

</nav>

    <%= yield %>
  </body>
</html>
